[submodule "/home/aurora/rmvision/src/auto-aim/third_party/g2o"]
	path = /home/aurora/rmvision/src/auto-aim/third_party/g2o
	url = https://github.com/cytochronne/g2o.git
[submodule "/home/aurora/rmvision/src/auto-aim/third_party/Sophus"]
	path = /home/aurora/rmvision/src/auto-aim/third_party/Sophus
	url = https://github.com/cytochronne/Sophus.git
