[submodule "third_party/g2o"]
	path = third_party/g2o
	url = https://github.com/cytochronne/g2o.git
[submodule "third_party/Sophus"]
	path = third_party/Sophus
	url = https://github.com/cytochronne/Sophus.git
